<div class="card">
  <ngb-accordion #acc="ngbAccordion" activeIds="graph-view-panel">
    <ngb-panel id="graph-view-panel">
      <ng-template ngbPanelHeader>
        <div class="d-flex align-items-center justify-content-between">
          <h6 class="m-0">
            <span *ngIf="inputWords.length > 0">
              TOP 3 LINKS of
              <span *ngFor="let word of inputWords; let i=index"
                    [ngStyle]="{'color': colors[i]}">{{word}}
                <span style="color: black" *ngIf="i==0 && inputWords.length ===3">, </span>
                <span style="color: black" *ngIf="inputWords.length>1 && i== inputWords.length-2">& </span>
              </span>
              <span *ngIf="inputWords.length>1"> and common links</span>
            </span>
          </h6>

          <div>
            <mat-icon *ngIf="!isFullscreen" (click)="changeViewSize(true)"
                      matTooltip="display graph fullscreen & hide list view" matTooltipPosition="left"
                      aria-label="fullscreen">
              fullscreen
            </mat-icon>
            <mat-icon *ngIf="isFullscreen" (click)="changeViewSize(false)"
                      matTooltip="show list view" matTooltipPosition="left" aria-label="fullscreen_exit">
              fullscreen_exit
            </mat-icon>
          </div>

        </div>
      </ng-template>
      <ng-template ngbPanelContent>
        <div class="graph-row">
          <app-cytoscape-graph [elements]="graphData" (select)="nodeChange($event)"></app-cytoscape-graph>
        </div>
        <!--
        <div *ngIf="isLoading" class="spinner">
          <mat-spinner></mat-spinner>
        </div> -->
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>
