.spinner {
  display: flex;
  justify-content: center;
}

.card {
  height: 100%;
}

.graph-row {
  min-height: 700px;
  min-width: 700px;
  height: 100%;
  width: 100%;
  float: left;
  overflow: auto;
  overflow-y: hidden;
}

ngb-alert {
  width: 100%;
  margin: 5px;
}
