.explorationChip {
  background-color: grey;
  color: white;
  padding: 5px;
  width: fit-content;
  border-radius: 25px 25px 25px 25px;
  font-size: 14px;
}

ngb-alert {
  width: 100%;
  margin: 5px;
}

