<div class="card">
  <ngb-accordion #acc="ngbAccordion" activeIds="list-view-panel">
    <ngb-panel id="list-view-panel">
      <ng-template ngbPanelHeader>
        <div>
          <div>
            <mat-icon aria-label="list">list</mat-icon>
          </div>
          <button *ngFor="let word of inputWords; let i = index"
                  type="button" class="btn btn-sm btn-outline-light ml-2"
                  [ngStyle]="{'background-color': colors[i], 'border-color': colors[i], 'color': colors[i]}"
                  [ngClass]="{'active':wordsDisplayStatus[i], 'inactive':!wordsDisplayStatus[i]}"
                  (click)="toogleWordDisplayStatus(i)" (dblclick)="displaySingleWordWithIndex(i)">
            {{word}}
          </button>
        </div>
      </ng-template>
      <ng-template ngbPanelContent>
        <div *ngIf="tableData.length === 0 && getDisplayedWords().length > 0" class="row">
          <ngb-alert type="danger" (close)="hasFailed=false">
            <b>Sorry!</b> <br/> These view is not established yet.
            <!-- There are no common associations !-->
          </ngb-alert>
        </div>

        <app-table *ngIf="tableData.length > 0"
                   [tableData]="tableData"
                   [explorationMode]="explorationMode"
                   [displayedWord]="getDisplayedWords()[0]">
        </app-table>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>
