<div class="container">
  <div class="row">
    <div class="col">
      <img [src]="IMG_LOGO"/>
      <h3>Welcome <span *ngIf="scrolledDown">back </span>!</h3>
      <p></p>
      <p *ngIf="scrolledDown && hasHistory">
        Have a look at your recent
        <a href="" (click)="openHistoryModal()">
          search queries
          <mat-icon style="color:#3aafa9">history</mat-icon>
        </a>
      </p>
      <p></p>
      <p>
        ComRAT-C tests your creativity by the ability of finding an associated compound word on 3 given words. <br/>
        Our creative AI is storing {{numberOfLinks}} associations of {{numberOfWords}} words and you can explore it.
        <br/>
        Go to the dashboard and discover interesting associations in the exploration mode or just input the words, you
        are interested in.
      </p>
      <p>
        Happy researching.
      </p>
      <button mat-mini-fab (click)="scrollToDashboard();" color="$word1color">
        <mat-icon aria-label="send">send</mat-icon>
      </button>
    </div>
  </div>
</div>

