<div class="container">
  <div class="row">
    <div class="col col-md-3"></div>
    <div class="col col-md-6">
      <h3>Welcome to comRAT-C !</h3>
      <p></p>
      <p *ngIf="hasHistory">
        Have a look at your recent
        <a href="javascript:void(0)" (click)="openHistoryModal()">
          search queries
        </a>
      </p>
      <p></p>
      <p>
        ComRAT-C tests your <b>creativity</b> by the ability of finding an associated compound word on 3 given words.
        Our creative AI is storing <b>{{numberOfLinks}} links between {{numberOfWords}} words</b> and you can explore
        it.
        Go to the dashboard and discover interesting links in the exploration mode or just input the words, you
        are interested in.
      </p>
      <p>
        <b>Happy researching.</b>
      </p>
      <button mat-mini-fab (click)="scrollToDashboard();" color="$word1color">
        <img [src]="IMG_LOGO"/>
        <h5>start</h5>
      </button>
    </div>
    <div class="col col-md-3"></div>
  </div>
</div>

