.input-container {
  display: flex;
  width: 100%;
  margin-bottom: 5px;
}

.input-field {
  border-radius: 0 10px 10px 0;
  width: 70%;
}

::placeholder {
  color: grey;
}

.table-container {
  min-height: 280px;
  max-height: 280px;
  overflow-y: scroll;
}


.icon {
  border-radius: 10px 0 0 10px;
  border: solid 1px;
  border-right: none;
  border-color: lightgrey;
  padding: 10px;
  background: transparent;
  color: grey;
  min-width: 40px;
  text-align: center;
}
