form {
  float: right
}

.input-container {
  display: flex;
  margin-bottom: 5px;
}

.input-field {
  border-radius: 0 10px 10px 0;
  width: 70%;
}

::placeholder {
  color: grey;
}

.icon {
  border-radius: 10px 0 0 10px;
  border: solid 1px;
  border-right: none;
  border-color: lightgrey;
  padding: 10px;
  background: transparent;
  color: grey;
  min-width: 40px;
  text-align: center;
}
