<div class="card">
  <ngb-accordion #acc="ngbAccordion" activeIds="graph-view-panel">
    <ngb-panel id="graph-view-panel">
      <ng-template ngbPanelHeader>
        <div class="d-flex align-items-center justify-content-between">
          <h5 class="m-0">comRAT-C</h5>

          <div>
            <mat-icon *ngIf="hasHistory" (click)="openHistoryModal()"
                      matTooltip="show search your query history" matTooltipPosition="left"
                      aria-label="search history">
              history
            </mat-icon>
            &nbsp;
            <mat-icon matTooltip="export displayed data as pdf" matTooltipPosition="left" aria-label="pdf export">
              picture_as_pdf
            </mat-icon>
          </div>
        </div>
      </ng-template>
      <ng-template ngbPanelContent>
        <div class="row">
          <div class="col col-sm-6">
            <input #input id="input" name="input" list="word-options" type="text"
                   class="custom-select mb-0"
                   placeholder="search ..."
                   (input)="getFilteredData(input.value); addWord(input.value, $event);"
                   (keydown.enter)="addWord(input.value, $event);"
            />
            <datalist #datalist id="word-options">
              <option *ngFor="let option of options"
                      [value]="option">
              </option>
            </datalist>
          </div>

          <div class="col col-sm-6">
            <mat-chip-list #chipList>
              <mat-chip *ngFor="let word of inputWords; let i = index"
                        [ngStyle]="{'background-color': colors[i]}"
                        [selectable]="true" [removable]="true" (removed)="removeWord(i)">
                {{word}}
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip>
              <mat-chip class="explorationChip" *ngIf="inputWords.length >= 1" (click)="removeWords()">
                exploration mode
              </mat-chip>
            </mat-chip-list>
          </div>
        </div>

        <div class="row">
          <div class="col col-sm-6">
            <small *ngIf="options.length === 0" class="form-text text-muted">
              <b>Check an other word!</b>&nbsp;
              <span>This word does not exist in comRAT-C.</span>
              <span *ngIf="isPartOfInputWord(input.value)">You already input this word</span>
            </small>
          </div>
          <div class="col col-sm-6">
            <small *ngIf="inputWords.length === 3 && input.value.length > 0" class="form-text text-muted">The comRAT-C
              test is
              <b>limited to 3 words</b>.
            </small>
          </div>
        </div>


      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>
