/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$word1color: #3aafa9;
$word2color: #de0f3f;
$word3color: #ffbd4a;

html, body {
  height: 100%;
  width: 100%;
}

