/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$word-1-color: #3aafa9;
$word-2-color: red;
$word-3-color: orange;

html, body {
  height: 100%;
  width: 100%;
}
